<!-- begin banners -->
<div class="banners">
	{% for item in [
		{
			title: 'Популярные бренды',
			link: 'Все бренды',
			color: 'blue',
			baxi: true
		},
		{
			title: 'Официальный дилер Rehau',
			link: 'Все документы',
			color: 'green',
			rehau: true
		},
		{
			title: 'Различные виды оплаты',
			link: 'Подробнее',
			color: 'orange',
			card: true
		}
	] %}
		<div class="banners__col">
			<a href="#" class="banner banner_{{item.color}}">
				<div class="banner__inner">
					{% if item.baxi %}
						<img src="img/baxi.png" alt="BAXI" class="banner__baxi">
						<img src="img/banner-item.png" alt="BAXI" class="banner__item">
					{% endif %}
					{% if item.rehau %}
						<img src="img/rehau.png" alt="REHAU" class="banner__rehau">
					{% endif %}
					{% if item.card %}
						<img src="img/card.png" alt="Card" class="banner__card">
					{% endif %}
					<div class="banner__content">
						<div class="banner__title">{{item.title}}</div>
						<div class="banner__link">{{item.link}}</div>
					</div>
				</div>
			</a>
		</div>
	{% endfor %}
</div>
<!-- end banners -->