<div class="characteristics {{characteristics.classList}}">
	<ul class="characteristics__list">
		{% for item in characteristics.items %}
			<li class="characteristics__item">
				<div class="characteristics__label">
					<div class="characteristics__label-in">{{item.label}}</div>
				</div>
				<div class="characteristics__value">{{item.value}}</div>
			</li>
		{% endfor %}
	</ul>
	{% if characteristics.control %}
		<a href="#" class="characteristics__control">{{characteristics.control}}</a>
	{% endif %}
</div>
