<!-- begin info -->
<div class="info">
	<div class="inner info__header">
		<h2 class="title-lg info__title">Тепловик - уют и тепло в вашем доме</h2>
		<div class="info__description">
			<p>В нашем интернет-магазине представлена только настоящая продукция популярных брендов.</p>
			<p>Мы гарантируем 100% процентное качество товара, если докажите обратное — вернем деньги.</p>
		</div>
	</div>
	<div class="info__body">
		<div class="inner info__items">
			{% for item in [
				{
					icon: 'check-list',
					title: 'Качественная продукция известных&nbsp;брендов'
				},
				{
					icon: 'sun',
					title: '58 брендов в сегменте тепла&nbsp;и&nbsp;уюта'
				},
				{
					icon: 'airplane',
					title: 'Быстрая доставка по&nbsp;всей&nbsp;России'
				},
				{
					icon: 'calendar',
					title: 'Гарантия 1 год на&nbsp;всю&nbsp;продукцию'
				}
			] %}
				<div class="info__item">
					<div class="info__figure">
						{{mixins.icon(item.icon, 'info__icon')}}
					</div>
					<div class="info__subtitle">{{item.title | safe}}</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end info -->