<!-- begin main-tabs -->
<div class="main-tabs" data-tabs>
	<div class="inner main-tabs__inner">
		<div class="main-tabs__controls">
			<div class="main-tabs__group">
				<button class="main-tabs__button main-tabs__button_strong is-active" data-tabs-control="main-catalog">
					<i class="main-tabs__menu"></i>
					<span class="main-tabs__button-in">Каталог</span>
				</button>
				<button class="main-tabs__button main-tabs__button_strong" data-tabs-control="main-brands">
					{{mixins.icon('sun', 'main-tabs__icon')}}
					<span class="main-tabs__button-in">бренды</span>
				</button>
			</div>
			<div class="main-tabs__group">
				<button class="main-tabs__button" data-tabs-control="main-stock">
					<span class="main-tabs__button-in">Акции</span>
				</button>
				<button class="main-tabs__button" data-tabs-control="main-novelties">
					<span class="main-tabs__button-in">Новинки</span>
				</button>
			</div>
		</div>
		<div class="main-tabs__container">
			{% for item in [ 'main-catalog', 'main-brands', '', '' ] %}
				{% if item %}
					<div class="main-tabs__content" data-tabs-container="{{item}}">
						{% include 'partials/components/_' + item + '.html' %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
<!-- end main-tabs -->