<!-- begin main-brands -->
<div class="main-brands">
	<ul class="main-brands__items">
		{% for item in range(0,3) %}
			{% for item in [
				{
					img: 'brand-rehau',
					title: 'Rehau'
				},
				{
					img: 'brand-rifar',
					title: 'Rifar company'
				},
				{
					img: 'brand-baxi',
					title: 'Baxi'
				},
				{
					img: 'brand-viessmann',
					title: 'Viessmann'
				},
				{
					img: 'brand-buderus',
					title: 'Buderus'
				},
				{
					img: 'brand-uni-fitt',
					title: 'Uni-fitt'
				},
				{
					img: 'brand-viega',
					title: 'Viega'
				},
				{
					img: 'brand-gorenje',
					title: 'Gorenje'
				}
			] %}
				<li class="main-brands__item">
					<a href="#" class="main-brands__box">
						<div class="main-brands__figure">
							<img src="img/brands/{{item.img}}.png" alt="{{item.title}}" class="main-brands__img">
						</div>
						<div class="main-brands__title">{{item.title}}</div>
					</a>
				</li>
			{% endfor %}
		{% endfor %}
	</ul>
</div>
<!-- end main-brands -->