<div class="main-catalog">
	<ul class="main-catalog__categories">
		{% for category in [
			{
				title: 'Котельное  оборудование',
				list: [
					'Газовые',
					'Электрические',
					'Твердотопливные',
					'Комплектующие',
					'Автоматика',
					'Дымоходы'
				]
			},
			{
				title: 'Котельная арматура',
				list: [
					'Распределительные ',
					'Насосные группы',
					'Гидрострелки',
					'Узлы для теплого пола',
					'Сервоприводы',
					'Комплектующие'
				]
			},
			{
				title: 'Запорная арматура',
				list: [
					'Шаровые краны',
					'Задвижки',
					'Обратные клапаны',
					'Сетчатые фильтры',
					'Вентили для радиаторов',
					'Мультифлексы',
					'Клапаны для бытовой техники',
					'Термостатические вентили',
					'Сервоприводы',
					'Термоголовкиx'
				]
			},
			{
				title: 'Канализация',
				list: [
					'Шумопоглощающая  канализация'
				]
			},
			{
				title: 'Инструмент',
				list: [
					'Для труб сшитого полиэтилена',
					'Для резки труб'
				]
			},
			{
				title: 'Насосы',
				list: [
					'Циркуляционные',
					'Скважинные',
					'Колодецные',
					'Дренажные',
					'Насосные станции',
					'Канализационные',
					'Комплектующие'
				]
			},
			{
				title: 'Предохранит. арматура',
				list: [
					'Группы безопасности',
					'Предохранительные клапаны',
					'Воздухоотводчики',
					'Редукторы давления',
					'Перепускные клапаны',
					'Подпиточные клапаны',
					'Обратные клапаны',
					'Соленоидные клапаны',
					'Амортизаторы гидроударов',
					'Защита от протечек воды'
				]
			},
			{
				title: 'Автоматика',
				list: [
					'Термостаты',
					'Управляющие модули',
					'GSM климат',
					'Температурные датчики',
					'Реле'
				]
			},
			{
				title: 'Контрольно -&nbsp;измерительная арматура',
				list: [
					'Манометры',
					'Термометры',
					'Термоманометры',
					'Комплектующие',
					'Термостаты',
					'Реле'
				]
			},
			{
				title: 'Радиаторы',
				list: [
					'Биметаллические',
					'Алюминиевые',
					'Стальные',
					'Комплектующие'
				]
			},
			{
				title: 'Трубы',
				list: [
					'Сшитый полиэтилен',
					'Гофры'
				]
			},
			{
				title: 'Коллекторы  и&nbsp;аксессуары',
				list: [
					'Коллекторные группы',
					'Распределительные коллекторы для воды',
					'Коллекторные шкафы',
					'Группы автономной',
					'Комплектующие'
				]
			},
			{
				title: 'Регулирующая арматура',
				list: [
					'Трехходовые смесители',
					'Термостатические смесители',
					'Балансировочные клапаны',
					'Сервоприводы',
					'Вентили для радиаторов',
					'Термоголовки',
					'Термостатические вентили для радиаторов',
					'Мультифлексы'
				]
			},
			{
				title: 'Электрооборудование',
				list: [
					'Стабилизаторы напряжения',
					'Источники бесперебойного питания',
					'Защита от скачков напряжения',
					'Аварийное освещение'
				]
			},
			{
				title: 'Водонагреватели и бойлеры',
				list: [
					'Электрические',
					'Косвенного нагрева',
					'Комбинированные',
					'Комплектующие'
				]
			},
			{
				title: 'Фитинги для труб',
				list: [
					'Для труб из сшитого ',
					'Фитинги резьбовые',
					'Фитинги для коллекторов'
				]
			},
			{
				title: 'Мембранные баки',
				list: [
					'Для систем отопления',
					'Для водоснабжения',
					'Комплектующие'
				]
			},
			{
				title: 'Фильтры',
				list: [
					'Самопромывные',
					'Для водоснабжения',
					'Картриджи',
					'Грубой очистки'
				]
			},
			{
				title: 'Теплые полы',
				list: [
					'Маты',
					'Кабели',
					'Термостаты',
					'Комплектация для водяного ТП'
				]
			},
			{
				title: 'Расходные материалы',
				list: [
					'Герметики анаэробные',
					'Лен',
					'Крепеж',
					'Заглушки'
				]
			}
		] %}
			<li class="main-catalog__category">
				<div class="main-catalog__category-in">
					<div class="main-catalog__figure">
						<img src="img/categories/category-{{loop.index}}.png" alt="icon {{category.title}}">
					</div>
					<a href="#" class="main-catalog__title">{{category.title | safe}}</a>
					<ul class="main-catalog__list">
						{% for item in category.list %}
							<li class="main-catalog__item">
								<a href="#" class="main-catalog__link">{{item}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>