<!-- begin sidebar -->
<aside class="sidebar">
	<ul class="sidebar__checkboxes">
		{% for item in [
			{ text: 'Газовые котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
			{ text: 'Котлы твердотопливные', classList: 'checkbox_updated' },
			{ text: 'Котлы электрические', classList: 'checkbox_updated' },
			{ text: 'Универсальные котлы', classList: 'checkbox_updated' }
		] %}
			<li class="sidebar__checkbox">
				{{mixins.checkbox(item)}}
			</li>
		{% endfor %}
	</ul>
	<div class="range sidebar__range">
		{% for item in [
			{ label: 'от, руб:', value: '1 000' },
			{ label: 'до, руб:', value: '78 000' }
		] %}
			<label class="range__field">
				<span class="range__label">{{item.label}}</span>
				<input type="text" class="range__input" value="{{item.value}}">
			</label>
		{% endfor %}
	</div>
	<ul class="sidebar__list js-accordion">
		{% for item in [
			{
				title: 'Производитель: 2',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'Погодозависимое управление',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'Высота, мм: 34-154',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'Тип установки',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'Длина, мм',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'Тип',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'Ширина, мм',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'Мощность, кВт',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'Диаметр контура ГВС',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'MAX температура ГВС',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'MAX температура отопления, °c',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'Диаметр дымоотвода, мм',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			},
			{
				title: 'Управление',
				help: 'Управление температурой',
				list: [
					{ text: 'Управление котлы', inputAttrs: 'checked', classList: 'checkbox_updated' },
					{ text: 'Управление твердотопливные', classList: 'checkbox_updated' },
					{ text: 'Управление электрические', classList: 'checkbox_updated' },
					{ text: 'Управление котлы', classList: 'checkbox_updated' }
				]
			}
		] %}
			<li class="sidebar__item js-accordion-item">
				<a href="#" class="sidebar__link js-accordion-control">
					<div class="sidebar__link-title">
						{{item.title}}
						<div class="sidebar__question js-tooltip" title="{{item.help}}" data-position="top">{{ mixins.icon('question-mark') }}</div>
					</div>
					{{mixins.icon('arrow-down', 'sidebar__link-icon')}}
				</a>
				<ul class="sidebar__checkboxes sidebar__checkboxes_in js-accordion-content">
					{% for item in item.list %}
						<li class="sidebar__checkbox">
							{{mixins.checkbox(item)}}
						</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
</aside>
<!-- end sidebar -->