body
	color: $dark
	background: $white
	font-family: $opensans
	+f(15px, 400, 1.734)

.main
	padding-top: 17px
	+md
		padding-top: 10px

.inner
	position: relative
	padding-left: 15px
	padding-right: 15px
	margin-left: auto
	margin-right: auto
	max-width: 1210px
	+clr
	+sm
		padding-left: 10px
		padding-right: 10px

.section
	&:not(:last-child)
		margin-bottom: 20px
	+sm
		&:not(:last-child)
			margin-bottom: 10px

.link
	color: $blue
	border-bottom: 1px solid transparent
	transition: border-color .3s
	+hover
		border-color: $blue

.visible-sm
	+rmin(768)
		display: none

.hidden-sm
	+sm
		display: none
