---
title: Forms
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="main">
		<div class="inner">
			<div>
				<a href="#" class="js-modal-control" data-target="register">Регистрация</a>
			</div>
			<div>
				<a href="#" class="js-modal-control" data-target="login">Войти</a>
			</div>
			<div>
				<a href="#" class="js-modal-control" data-target="password">Восстановление пароля</a>
			</div>
		</div>
	</div>
	{% include 'partials/components/_popups.html' %}

{% endblock %}
