---
title: Forms
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="main">
		<div class="inner">
			<ul class="forms-list">
				<li><a href="#" class="js-modal-control" data-target="register">Регистрация</a></li>
				<li><a href="#" class="js-modal-control" data-target="login">Войти</a></li>
				<li><a href="#" class="js-modal-control" data-target="password">Восстановление пароля</a></li>
				<li><a href="#" class="js-modal-control" data-target="request">Отправить заявку</a></li>
			</ul>
		</div>
	</div>
	{% include 'partials/components/_popups.html' %}

{% endblock %}
