---
title: Installer page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="brands">
		<div class="heading border-bottom-zero">
			<div class="inner">
				{{mixins.bc({
					list: [ 'Главная', 'Каталог Монтажников', 'Иван Матвеев' ]
				})}}
			</div>
		</div>
		<div class="author">
			<div class="inner">
				<div class="author__container">
					<div class="author_photo author__col" style="background-image: url('img/author/author-1.png');"></div>
					<div class="author_content author__col">
						<div class="author__name">Иван Матвеев</div>
						<div class="author__special">
							<p><span>Специализация: </span>Бытовое и промышленное кондиционирование</p>
							<p><span>Опыт работы: </span>5 лет</p>
						</div>
						<div class="author__text">Вы можете купить кондиционер для дома и офиса для магазина и кафе, кондиционеры на производство. Но установить кондиционер самостоятельно по плечу далеко не каждому, обращаясь к нам, вы сможете сразу же купить кондиционер с установкой.</div>
						<div class="author__contacts">
							<ul class="author__list">
								<li class="author__list-item">
									<p class="author__list-label">Телефон:</p>
									<a class="author__list-link" href="tel:4954553423">(495) 455-34-23</a>
								</li>
								<li class="author__list-item">
									<p class="author__list-label">E-mail:</p>
									<a class="author__list-link" href="mailto:vanyamontaj@gmail.com">vanyamontaj@gmail.com</a>
								</li>
							</ul>
							<a href="#" class="btn btn_blue author__btn">Отправить заявку</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portfolio">
			<div class="inner">
				<h2 class="title-md portfolio__title">Работы Ивана</h2>
				<div class="portfolio__items">
				{% for item in [
					{ title: 'Универсальный монтаж', img: 'item-1' },
					{ title: 'Установка кондиционера', img: 'item-2' },
					{ title: 'Универсальный монтаж', img: 'item-3' },
					{ title: 'Установка кондиционера', img: 'item-4' },
					{ title: 'Универсальный монтаж', img: 'item-5' },
					{ title: 'Установка кондиционера', img: 'item-6' },
					{ title: 'Универсальный монтаж', img: 'item-7' }
				] %}
					<a href="#" class="portfolio__item">
						<div class="portfolio__item-figure">
							<img src="img/portfolio/{{item.img}}.png" alt="{{item.img}}">
						</div>
						<div class="portfolio__subtitle">{{item.title}}</div>
					</a>
				{% endfor %}
				</div>
			</div>
		</div>

		<div class="catalog catalog_installers">
			<div class="inner">
				<h2 class="title-md catalog__title">Другие монтажники</h2>
				<div class="catalog__items">
					{% for item in [
						{
							img: 'installer-1',
							name: 'Иван Матвеев',
							title: 'Монтаж газовых котлов'
						},
						{
							img: 'installer-2',
							name: 'Сергей Авчинских',
							title: 'Монтаж газовых котлов'
						},
						{
							img: 'installer-3',
							name: 'Иван Матвеев',
							title: 'Универсальный монтаж'
						}
					] %}
						<div class="catalog__item">
							<div class="l-item">
								<a href="#" class="l-item__inner">
									<div class="l-item__figure" style="background-image: url('img/installers/{{item.img}}.png');"></div>
									<div class="l-item__name">{{item.name}}</div>
									<div class="l-item__title">{{item.title}}</div>
								</a>
							</div>
						</div>
					{% endfor %}

					<div class="catalog__item">
						<div class="l-item l-item_all">
							<a href="#"  class="l-item__inner">
								<div class="l-item__figure" style="background-image: url('img/installers/{{item.img}}.png');">
									<span class="l-item__text">Все монтажники {{mixins.icon('angle-up', 'angle_right')}}</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
