---
title: order1
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="main">
	<!-- Start order -->
		<div class="order">
			<div class="order__steps order__steps_visible">
				<ul class="order__steps-inner inner">
					<li class="order__step is-active">1. Корзина заказов</li>
					<li class="order__step">2. Оформление заказа</li>
				</ul>
			</div>
			<div class="inner">
				<!-- begin table -->
				<div class="table">
					{% set titles = [
						{ column: 'photo', name: 'ФОТО' },
						{ column: 'name', name: 'НАИМЕНОВАНИЕ' },
						{ column: 'price', name: 'ЦЕНА' },
						{ column: 'qua', name: 'КОЛ-ВО' },
						{ column: 'value', name: 'СТОИМОСТЬ' }
					] %}
					<div class="table__thead">
						<div class="table__tr">
							{% for item in titles %}
								<div class="table__th" data-column="{{item.column}}">{{item.name}}</div>
							{% endfor %}
						</div>
					</div>
					<div class="table__tbody">
						{% set table = [
							{
								cols: [
									{
										column: 'photo',
										img: 'product1.png'
									},
									{
										column: 'name',
										name: {
											label: 'Угольник для радиаторов 1/2',
											value: 'Артикул:B1HCD43'
										}
									},
									{
										column: 'price',
										price: '6 599 руб'
									},
									{
										column: 'qua',
										counter: true
									},
									{
										column: 'value',
										value: '6 599 руб'
									}
								]
							},
							{
								cols: [
									{
										column: 'photo',
										img: 'product2.png'
									},
									{
										column: 'name',
										name: {
											label: 'Угольник для радиаторов 1/2',
											value: 'Артикул:B1HCD43'
										}
									},
									{
										column: 'price',
										price: '6 599 руб'
									},
									{
										column: 'qua',
										counter: true
									},
									{
										column: 'value',
										value: '6 599 руб'
									}
								]
							},
							{
								cols: [
									{
										column: 'photo',
										img: 'product3.png'
									},
									{
										column: 'name',
										name: {
											label: 'Угольник для радиаторов 1/2',
											value: 'Артикул:B1HCD43'
										}
									},
									{
										column: 'price',
										price: '6 599 руб'
									},
									{
										column: 'qua',
										counter: true
									},
									{
										column: 'value',
										value: '6 599 руб'
									}
								]
							},
							{
								cols: [
									{
										column: 'photo',
										img: 'product4.png'
									},
									{
										column: 'name',
										name: {
											label: 'Угольник для радиаторов 1/2',
											value: 'Артикул:B1HCD43'
										}
									},
									{
										column: 'price',
										price: '6 599 руб'
									},
									{
										column: 'qua',
										counter: true
									},
									{
										column: 'value',
										value: '6 599 руб'
									}
								]
							}
						] %}
						{% for item in table %}
							<div class="table__tr">
								{% for item in item.cols %}
									<div class="table__td" data-column="{{item.column}}">
										{% if item.img %}
											<div class="table__img"><img src="img/{{item.img}}" class="table__img-in" alt="image"></div>
										{% endif %}
										{% if item.name %}
											<div class="table__name">
												<div class="table__name-label">{{item.name.label}}</div>
												<div class="table__name-value">{{item.name.value}}</div>
											</div>
										{% endif %}
										{% if item.price %}
											<div class="table__price">{{item.price}}</div>
										{% endif %}
										{% if item.counter %}
											<div class="table__counter">
												<div class="counter js-counter">
													<button class="counter__minus js-counter-minus" type="button">{{mixins.icon('minus')}}</button>
													<input class="counter__input js-counter-input" type="text" value="1">
													<button class="counter__plus js-counter-plus" type="button">{{mixins.icon('plus')}}</button>
												</div>
											</div>
										{% endif %}
										{% if item.value %}
											<div class="table__value">{{item.value}}</div>
										{% endif %}
									</div>
								{% endfor %}
								<button class="table__btn">{{mixins.icon('close', 'table__icon')}}</button>
							</div>
						{% endfor %}
					</div>
				</div>
				<!-- end table -->
				<div class="order__footer">
					<p>
						Сумма заказа: <span class="order__price">24 190 руб.</span>
					</p>
					<button class="order__btn btn btn_blue" type="submit">Перейти к оформлению заказа</button>
				</div>
			</div>
		</div>
	<!-- Start order -->
	</div>


{% endblock %}
