---
title: text
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="main">
	<div class="inner">
		<!-- Start content -->
		<div class="content">
			<h1>Текстовая статейная страница (заголовок H1)</h1>
			<p>
				Если в вашей квартире (доме) используется отопительная мини-система, следует выбирать батареи и радиаторы, технические характеристики которых соответствуют параметрам ваших отопительных коммуникаций, состоянию труб, задвижек кранов и вентилей. И лучше всего, если радиатор вам поможет выбрать специалист.
			</p>
			<p>
				К современным системам отопления обычно подходят алюминиевые или сталеалюминевые (по-другому – биметаллические) батареи. Они легки, красивы и очень удобны в обращении. С помощью простого устройства – стального радиаторного ниппеля отдельные секции собираются в радиатор необходимой тепловой мощности. Иногда к нему подсоединяют ручные регуляторы, позволяющие выбрать степень нагрева.
			</p>
			<div>
				<div>
					<figure>
						<img src="img/top-bg.jpg" alt="top-bg">
						<figcaption>Обычно подходят алюминиевые или сталеалюминевые</figcaption>
					</figure>
				</div>
			</div>
			<h2>Статейная страница (заголовок H2)</h2>
			<p>
				К современным системам отопления обычно подходят алюминиевые или сталеалюминевые (по-другому – биметаллические) батареи. Они легки, красивы и очень удобны в обращении. С помощью простого устройства – стального радиаторного ниппеля отдельные секции собираются в радиатор необходимой тепловой мощности. Иногда к нему подсоединяют ручные регуляторы, позволяющие выбрать степень нагрева.
			</p>
			<h3>Заголовок H3 высокая теплоотдача</h3>
			<div>
				<ul>
					<li>Высокая теплоотдача</li>
					<li>Аксессуары</li>
					<li>Длительный срок службы батарей</li>
					<li>Высокая теплоотдача</li>
					<li>Аксессуары</li>
					<li>Длительный срок службы батарей</li>
				</ul>
				<ol>
					<li>Высокая теплоотдача</li>
					<li>Аксессуары</li>
					<li>Длительный срок службы батарей</li>
					<li>Высокая теплоотдача</li>
					<li>Аксессуары</li>
					<li>Длительный срок службы батарей</li>
				</ol>
			</div>
			<h2>Вариант двух картинок</h2>
			<div>
				<div>
					<div>
						<figure>
							<img src="img/house1.jpg" alt="house1">
							<figcaption>Обычно подходят алюминиевые или сталеалюминевые</figcaption>
						</figure>
						<figure>
							<img src="img/house2.jpg" alt="house2">
							<figcaption>Только сталеалюминевые</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<p>
				К современным системам отопления обычно подходят алюминиевые или сталеалюминевые (по-другому – биметаллические) батареи. Они легки, красивы и очень удобны в обращении. С помощью простого устройства – стального радиаторного ниппеля отдельные секции собираются в радиатор необходимой тепловой мощности. Иногда к нему подсоединяют ручные регуляторы, позволяющие выбрать степень нагрева.
			</p>
			<a href="#">Как правило, это не просто расходные материалы</a>
			<div>
				<div>
					<blockquote>
						<i>И лучше всего, если радиатор вам поможет выбрать специалист.</i>
					</blockquote>
				</div>
			</div>
			<h3>Пример таблицы</h3>
			<div class="table-responsive js-scrollbar">
				<table>
					<tr>
						<th>Продукция</th>
						<th>58 Брендов</th>
						<th>Доставка</th>
						<th>Гарантия</th>
					</tr>
					<tr>
						<td data-th="Продукция">К современным системам отопления</td>
						<td data-th="58 Брендов">Индикатор менеджмента</td>
						<td data-th="Доставка">Включена</td>
						<td data-th="Гарантия">Да</td>
					</tr>
					<tr>
						<td data-th="Продукция">Система отопления*</td>
						<td data-th="58 Брендов">Различные бренды</td>
						<td data-th="Доставка">Не включена</td>
						<td data-th="Гарантия">Нет</td>
					</tr>
					<tr>
						<td data-th="Продукция">К современным системам отопления</td>
						<td data-th="58 Брендов">Индикаторы менеджмента</td>
						<td data-th="Доставка">Включена</td>
						<td data-th="Гарантия">Да</td>
					</tr>
					<tr>
						<td data-th="Продукция">Система отопления</td>
						<td data-th="58 Брендов">Различные бренды</td>
						<td data-th="Доставка">Не включена</td>
						<td data-th="Гарантия">Нет</td>
					</tr>
				</table>
			</div>
			<span>
				* К современным системам отопления обычно подходят алюминиевые или сталеалюминевые
			</span>
		</div>
		<!-- Start content -->
	</div>
</div>


{% endblock %}
