---
title: text
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="main">
		<div class="inner">
		<!-- Start content -->
			<div class="content">
				<h1>Текстовая статейная страница (заголовок H1)</h1>
				<p>
					Если в вашей квартире (доме) используется отопительная мини-система, следует выбирать батареи и радиаторы, технические характеристики которых соответствуют параметрам ваших отопительных коммуникаций, состоянию труб, задвижек кранов и вентилей. И лучше всего, если радиатор вам поможет выбрать специалист.
					<br>
					<br>
					К современным системам отопления обычно подходят алюминиевые или сталеалюминевые (по-другому – биметаллические) батареи. Они легки, красивы и очень удобны в обращении. С помощью простого устройства – стального радиаторного ниппеля отдельные секции собираются в радиатор необходимой тепловой мощности. Иногда к нему подсоединяют ручные регуляторы, позволяющие выбрать степень нагрева.
				</p>
				<img src="img/top-bg.jpg" alt="top-bg">
				<span>Обычно подходят алюминиевые или сталеалюминевые</span>
				<h2>Статейная страница (заголовок H2)</h2>
				<p>
					К современным системам отопления обычно подходят алюминиевые или сталеалюминевые (по-другому – биметаллические) батареи. Они легки, красивы и очень удобны в обращении. С помощью простого устройства – стального радиаторного ниппеля отдельные секции собираются в радиатор необходимой тепловой мощности. Иногда к нему подсоединяют ручные регуляторы, позволяющие выбрать степень нагрева.
				</p>
				<h3>Заголовок H3 высокая теплоотдача</h3>
				<p>
					<ul>
						<li>Высокая теплоотдача</li>
						<li>Аксессуары</li>
						<li>Длительный срок службы батарей</li>
						<li>Высокая теплоотдача</li>
						<li>Аксессуары</li>
						<li>Длительный срок службы батарей</li>
					</ul>
					<ol type="1">
						<li>Высокая теплоотдача</li>
						<li>Аксессуары</li>
						<li>Длительный срок службы батарей</li>
						<li>Высокая теплоотдача</li>
						<li>Аксессуары</li>
						<li>Длительный срок службы батарей</li>
					</ol>
				</p>
				<h2>Вариант двух картинок</h2>
				<p>
					<img src="img/house1.jpg" alt="house1">
					<span>Обычно подходят алюминиевые или сталеалюминевые</span>
				</p>
				<p>
					<img src="img/house2.jpg" alt="house2">
					<span>Только сталеалюминевые</span>
				</p>
				<p>
					К современным системам отопления обычно подходят алюминиевые или сталеалюминевые (по-другому – биметаллические) батареи. Они легки, красивы и очень удобны в обращении. С помощью простого устройства – стального радиаторного ниппеля отдельные секции собираются в радиатор необходимой тепловой мощности. Иногда к нему подсоединяют ручные регуляторы, позволяющие выбрать степень нагрева.
				</p>
				<a href="#">Как правило, это не просто расходные материалы</a>
				<p>
					<span>"</span>
					<h3>И лучше всего, если радиатор вам поможет выбрать специалист.</h3>
					<hr>
				</p>
				<h3>Пример таблицы</h3>
				<table>
					<tr>
						<th>Продукция</th>
						<th>58 Брендов</th>
						<th>Доставка</th>
						<th>Гарантия</th>
					</tr>
					<tr>
						<td data-th="Продукция">К современным системам отопления</td>
						<td data-th="58 Брендов">Индикатор менеджмента</td>
						<td data-th="Доставка">Включена</td>
						<td data-th="Гарантия">Да</td>
					</tr>
					<tr>
						<td data-th="Продукция">Система отопления*</td>
						<td data-th="58 Брендов">Различные бренды</td>
						<td data-th="Доставка">Не включена</td>
						<td data-th="Гарантия">Нет</td>
					</tr>
					<tr>
						<td data-th="Продукция">К современным системам отопления</td>
						<td data-th="58 Брендов">Индикаторы менеджмента</td>
						<td data-th="Доставка">Включена</td>
						<td data-th="Гарантия">Да</td>
					</tr>
				  	<tr>
						<td data-th="Продукция">Система отопления</td>
						<td data-th="58 Брендов">Различные бренды</td>
						<td data-th="Доставка">Не включена</td>
						<td data-th="Гарантия">Нет</td>
					</tr>
				</table>
				<p>
					* К современным системам отопления обычно подходят алюминиевые или сталеалюминевые
				</p>
			</div>
		<!-- Start content -->
		</div>
	</div>
	

{% endblock %}