$opensans: 'Open Sans', Helvetica, sans-serif
$montserrat: 'Montserrat', Helvetica, sans-serif

$white: #fff
$black: #000

$dark: #0f2841
$blue: #0caafe
$orange: #ffae1f
$gray: #929292
$light-gray: #dcdcdc
$gray-blue: #57687a