$opensans: 'Open Sans', Helvetica, sans-serif
$montserrat: 'Montserrat', Helvetica, sans-serif

$white: #fff
$black: #000
$red: #ca4141
$green: #7cb72f

$dark: #0f2841
$blue: #0caafe
$orange: #ffae1f

// borders
$inputBorder: #dcdcdc
$borderGray: $inputBorder