{% macro icon(i, classList) %}
<svg class="icon icon-{{i}} {{classList}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro bc(props) %}
<ul class="breadcrumbs">
	{% for item in props.list %}
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">{{item}}</a>
		</li>
	{% endfor %}
</ul>
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin checkbox -->
<label class="checkbox {{props.classList}}">
	<input type="checkbox" {{props.inputAttrs | safe}}>
	{% if props.text %}
		<span class="checkbox__text">{{props.text}}</span>
	{% endif %}
	<span class="checkbox__checked">{{icon('check')}}</span>
</label>
<!-- end checkbox -->
{% endmacro %}

{% macro characteristics(props) %}
<div class="characteristics {{props.classList}}" {{props.attrs | safe}}>
	{% if props.title %}
		<div class="title-md product-info__title">{{props.title}}</div>
	{% endif %}
	<ul class="characteristics__list">
		{% for item in props.items %}
			<li class="characteristics__item">
				<div class="characteristics__label">
					<div class="characteristics__label-in">{{item.label}}</div>
				</div>
				<div class="characteristics__value">{{item.value}}</div>
			</li>
		{% endfor %}
	</ul>
	{% if props.control %}
		<a href="#" class="characteristics__control" {{props.controlAttrs | safe}}>{{props.control}}</a>
	{% endif %}
</div>
{% endmacro %}
