.banner
	display: block
	color: $white
	+hover
		.banner__link
			&:before
				opacity: 0
	&_blue
		background-image: linear-gradient(29deg, #0caafe 0%, #2df0f2 100%)
	&_green
		background-image: linear-gradient(29deg, #00ab89 0%, #3affd3 100%)
	&_orange
		background-image: linear-gradient(29deg, #ff881f 0%, #ffcf3c 100%)
	&__inner
		position: relative
		height: 217px
	&__content
		position: absolute
		left: 0
		right: 0
		bottom: 0
		padding: 21px 30px
		+xmd
			padding: 20px
	&__title
		+f(18px, 700, 30px)
		letter-spacing: -0.025em
		+text-overflow
		+xmd
			max-width: 138px
			margin-bottom: 3px
			+f(16px, null, 21px)
			white-space: normal
	&__link
		position: relative
		display: inline-block
		vertical-align: top
		+f(14px, 400, 30px)
		letter-spacing: 0.01em
		+text-overflow
		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 5px
			border-bottom: 1px solid rgba($white, 0.5)
			transition: opacity 0.3s
	&__baxi
		position: absolute
		top: 45px
		left: 30px
		+xmd
			max-width: 94px
			left: 20px
	&__item
		position: absolute
		top: 45px
		right: 44px
		+md
			max-width: 42px
			top: 15px
			right: 15px
		~ .banner__content
			padding-right: 130px
			+md
				padding-right: 30px
			+xmd
				padding-right: 20px
	&__rehau
		position: absolute
		top: 29px
		left: 30px
		+xmd
			top: 36px
			left: 20px
			max-width: 86px
	&__card
		position: absolute
		top: 14px
		left: 30px
		+xmd
			top: 14px
			left: 20px
			max-width: 78px
