.btn
	display: inline-block
	vertical-align: top
	padding: 10px 21px 11px
	border-radius: 5px
	font-family: $opensans
	+f(14px, 400, 1)
	&_blue
		color: $white
		background: $blue
	&_orange
		color: $white
		background: $orange