.btn
	display: inline-block
	vertical-align: top
	padding: 10px 21px 11px
	border-radius: 5px
	background: #e0e0e0
	color: rgba($dark, .66)
	background-color: #e0e0e0
	font-family: $opensans
	+f(14px, 400, 1)
	letter-spacing: 0.01em
	transition: background 0.3s
	+hover
		background: #ececec
	&_blue
		color: $white
		background: $blue
		+hover
			background: $lightBlue
	&_orange
		color: $white
		background: $orange
		+hover
			background: $lightOrange
	&_wide
		width: 100%
	&_sm
		padding: 11px 5px
		+f(13px)

.add-file
	display: flex
	align-items: center
	margin-top: 20px
	cursor: pointer
	&__input
		display: none
	&__title
		font-size: 14px
		color: $blue
		margin-left: 10px
	&__icon
		font-size: 18px
		color: $blue