.card
	&__row
		margin: 0 -15px
		+clr
	&__col
		padding: 0 15px
		float: left
		&_41
			width: 41.66666667%
		&_58
			width: 58.33333333%
	&__case
		padding: 20px 0
	&__wrapper
		padding-left: 50px
	&__info
		padding: 25px 30px 25px 50px
		box-shadow: 0 0 18px 0 rgba($black, .1)
	&__title
		font-family: $montserrat
		+f(21px, 500, 1.524)
		letter-spacing: .025em
		margin-bottom: 10px
	&__meta
		margin: -10px
		padding-bottom: 40px
		font-size: 0
		li
			display: inline-block
			margin: 10px
			color: $gray
			+f(14px, null, 1)
			span
				color: #202020
	&__characteristics
		padding-bottom: 40px
	&__total
		font-size: 0
	&__price,
	&__qua,
	&__availability
		display: inline-block
		vertical-align: top
		margin-bottom: 20px
	&__price
		letter-spacing: .025em
		color: #202020
		margin-right: 70px
		+f(30px, 500, 1.2)
		span
			+f(null, 700, null)
	&__availability
		padding: 11px 0
		+f(14px, null, 1)
		span
			color: rgba($dark, .5)
	&__progress
		font-size: 0
		display: inline-block
		vertical-align: top
		margin-left: 7px
		padding: 2px 0
		&-item
			display: inline-block
			vertical-align: top
			width: 2px
			height: 10px
			margin: 0 1px
			background-color: #cfcfcf
			&.is-active
				background-color: $orange
.case
	&__logo
		position: absolute
		right: 0
		top: 0
		max-width: 94px
		max-height: 31px
	&__slider
		position: relative
	&__nav
		position: absolute
		left: 0
		top: 0
		width: 80px
		height: 100%
	&__for
		padding-left: 120px
	&__item
		+vertical
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100%
		&_big
			margin-right: auto
			margin-left: auto
			height: 460px
		&_small
			height: 100px
