.catalog
	border-bottom: 1px solid #dcdcdc
	&__inner
		display: flex
	&__sidebar
		padding: 30px 20px 30px 0
		border-right: 1px solid #dcdcdc
		width: 280px
	&__content
		padding: 25px 0 45px 20px
		flex-grow: 1
	&__top
		+clr 
		&-left 
			float: left
		&-right 
			float: right
	&__bottom
		text-align: center
	&__items
		clear: both
		padding-top: 40px
		padding-bottom: 40px
		margin: -10px
		font-size: 0
	&__item
		display: inline-block
		vertical-align: top
		padding: 0 10px
		width: 33.33%

.checkbox_updated
	padding-left: 30px