.contacts

.map
	width: 100%
	height: 600px
	a[target="_blank"]
		background-color: inherit
		display: none
	.gm-style div a img
		display: none
	.gm-style-cc
		display: none

.gmnoprint
	width: 45px
	height: 72px		
	img