.header
	position: relative
	padding: 18px 30px 27px
	border-bottom: 1px solid #dcdcdc
	font-size: 0
	// display: none
	+xl
		padding: 5px 15px 10px
	&__inner
		margin: 0 auto
		max-width: 1540px
		+clr
	&__btns
		float: left
		padding: 8px 20px 0 78px
		+xl
			padding: 2px 0 0 78px
			margin-bottom: -2px
		+sm
			display: none
	&__btn
		position: relative
		display: inline-block
		vertical-align: top
		margin: 5px
		// +xmd
		// 	position: static
	&__actions
		float: right
		padding: 10px 0 1px
		margin: 0 -16px 0 29px
		+xl
			display: none
	&__action
		position: relative
		display: inline-block
		vertical-align: top
		padding: 10px 16px
		height: 40px
		color: inherit
		+vertical
		transition: color 0.3s
		+hover
			color: $orange
	&__icon
		display: inline-block
		vertical-align: middle
		font-size: 20px
		fill: currentColor
	&__sticker
		position: absolute
		top: -3px
		right: 0
		border-radius: 13px
		min-width: 25px
		color: $white
		background: $orange
		+f(12px, 400, 25px)
	&__info
		float: right
		padding: 13px 0 0
		+xl
			display: none
	&__phone
		display: block
		color: inherit
		+f(22px, 700, 19px)
		letter-spacing: 0.01em
		text-transform: uppercase
		transition: color 0.3s
		+hover
			color: $blue
	&__schedule
		margin-top: 9px
		opacity: 0.5
		+f(12px, 400, 1)
		letter-spacing: 0.01em


.logo
	float: left
	font-size: 0
	img
		+xl
			height: 44px

.nav
	overflow: visible
	text-align: center
	padding: 13px 20px 5px 0
	+xl
		display: none
	&__item
		display: inline-block
		vertical-align: top
	&__link
		display: block
		padding: 10px 15px 11px
		color: currentColor
		+f(14px, 400, 1)
		letter-spacing: 0.01em
		transition: color 0.3s
		+hover
			color: $blue

.menu
	position: absolute
	z-index: 700
	top: 100%
	left: 0
	display: flex
	flex-direction: column
	width: 310px
	max-height: calc(100vh - 109px)
	margin-top: 10px
	background: $white
	opacity: 0
	visibility: hidden
	transition: opacity 0.3s, visibility 0.3s
	box-shadow: 0 4px 27px rgba(0, 0, 0, 0.14)
	+xl
		max-height: calc(100vh - 70px)
	+xmd
		max-height: calc(100vh - 61px)
		// width: 50%
		margin: 0
	+sm
		display: none
		position: static
		width: 100%
		margin-top: 0
		box-shadow: none
	&.is-open
		opacity: 1
		visibility: visible
		+sm
			display: block
	&__container
		flex-grow: 1
		flex-basis: 100%
		padding: 15px 0
		overflow: auto
		background: $white
		+sm
			position: relative
			padding: 0
			margin-top: 40px
			height: auto
	&__inner
		display: flex
		height: 100%
		flex-direction: column
		box-shadow: 0 4px 27px rgba(0, 0, 0, 0.14)
	&__popup
		position: absolute
		background: $white
		top: 0
		bottom: 0
		left: 100%
		z-index: -1
		width: 100%
		height: 100%
		opacity: 0
		visibility: hidden
		transition: opacity .24s, visibility .24s
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 1px
			height: 100%
			background: $borderGray
	&__list
		clear: both
		font-size: 0
	&__link
		position: relative
		display: block
		color: inherit
		padding: 5px 20px
		+f(14px, 400, 18px)
		letter-spacing: 0.01em
		transition: color 0.3s
		+hover
			color: $blue
			.menu__icon
				&:before
					opacity: 1
				&-in
					opacity: 0
	&__box
		// +hover
		// 	.menu__popup
		// 		opacity: 1
		// 		visibility: visible
		&.is-active
			.menu
				&__popup
					opacity: 1
					visibility: visible
				&__title
					color: $blue
				&__icon
					+sm
						transform: rotate(270deg) translateY(2px)
					&:before
						opacity: 1
					&-in
						opacity: 0
				&__accordion
					display: block
	&__title
		padding-right: 35px
	&__icon
		position: absolute
		right: 19px
		top: 8px
		font-size: 13px
		+sm
			top: 5px
			transform: rotate(90deg)
			transition: transform .3s
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			+arr(7, 13, #0ca9fd, r)
			opacity: 0
			transition: opacity .3s
			+sm
				left: 1px
				top: 1px
		&-in
			fill: #c5c5c5
			transition: opacity .3s
	&__submenu
		padding: 15px 0
		flex-grow: 1
		overflow: auto
		+sm
			overflow: visible
			padding: 5px 0
	&__accordion
		+sm
			display: none
	&__brand
		flex-shrink: 0
		text-align: center
		padding: 25px 30px 2px
		background-image: linear-gradient(29deg, #00ab89 0%, #3affd3 100%)
		display: block
		+sm
			padding: 10px 10px 5px
			max-width: 360px
			margin: 0 auto 15px
		&-label
			color: $white
			+f(16px, 700, 1.875)
			height: 3.75em
			overflow: hidden
			+sm
				+f(14px, null, 1.429)
				height: 2.858em
		&-logo
			font-size: 0
			height: 130px
			text-align: center
			+sm
				height: 100px
			&:before
				content: ""
				width: 0
				height: 100%
				display: inline-block
				vertical-align: middle
		&-img
			max-width: 100%
			max-height: 100%
			display: inline-block
			vertical-align: middle

.btn-nav
	position: absolute
	top: 0
	right: 0
	bottom: 0
	background: none
	display: none
	padding: 0 15px 0 0
	+vertical
	+xl
		display: block
	&__title,
	&__icon
		display: inline-block
		vertical-align: middle
	&__title
		padding: 1px 0 0 14px
		color: $dark
		font-family: $opensans
		+f(14px, null, 30px)
		+sm
			display: none
	&__icon
		position: relative
		width: 29px
		height: 11px
		border-top: 1px solid $dark
		border-bottom: 1px solid $dark
		&:before
			content: ''
			position: absolute
			top: 4px
			left: 0
			right: 0
			border-top: 1px solid $dark
