=col($name)
	&[data-column="#{$name}"]
		@content

.order
	font-family: $opensans
	&__steps
		width: 100%
		border-bottom: 1px solid $inputBorder
		padding-bottom: 15px
		+sm
			display: none
		&_visible
			+sm
				display: block
	&__steps-inner
		display: flex
		align-items: center
		justify-content: center
		position: relative
		color: $gray-blue
		font-weight: 600
		font-size: 16px
	&__step
		position: relative
		padding-left: 70px
		+md
			padding-left: 60px
		+sm
			font-size: 12px
			padding-left: 40px
		&:first-child
			padding-left: 0
			&::before
				display: none
		&::before
			position: absolute
			top: 65%
			left: 35px
			content: url(../img/arrow.svg)
			width: 10px
			transform: translate(-50%, -50%)
			+sm
				width: 8px
				left: 21px
	&__step.is-active
		color: $dark
	&__footer
		font-family: $montserrat
		padding: 40px 0
		text-align: center
		+sm
			padding-top: 20px
		p
			text-align: center
			font-size: 21px
			padding-bottom: 20px
			color: $gray
			+sm
				font-size: 16px
	&__price
		color: $dark
	&__btn
		padding: 10px 10px 11px
		max-width: 380px
		width: 100%

.counter
	display: flex
	align-items: center
	justify-content: space-between
	max-width: 125px
	border-radius: 5px
	border: 1px solid $inputBorder
	padding: 7px 5px
	font-size: 16px
	&__input
		padding-top: 2px
		margin-left: 27px
		max-width: 30px
	&__minus,
	&__plus
		padding: 0 5px
		color: $gray
		font-size: 20px
		line-height: 20px
		background: none
		border: none
		margin-bottom: 3px
		.icon-plus
			width: 10px
			height: 10px
	&__minus
		.icon-minus
			width: 10px
			height: 10px


.table
	font-size: 0
	margin-top: 45px
	+xmd
		margin-top: 20px
	+sm
		margin-top: 0
	&__thead
		+sm
			display: none
	&__tr
		border-bottom: 1px solid #dcdcdc
		position: relative
		padding-left: 100px
		padding-right: 35px
		+xmd
			padding-right: 25px
		+sm
			padding-right: 0
			padding-left: 60px
			padding-top: 3px
			padding-bottom: 8px
	&__td,
	&__th
		display: inline-block
		vertical-align: middle
		padding-right: 10px
		+sm
			padding-right: 0
		+col("photo")
			width: 100px
			margin-left: -100px
			+sm
				margin-left: -60px
				width: 60px
		+col("name")
			width: 38%
			+xmd
				width: 41.6%
			+sm
				width: 100%
		+col("price")
			width: 19.5%
			+xmd
				width: 17%
			+sm
				display: none
		+col("qua")
			width: 20%
			+xmd
				width: 25%
			+sm
				width: 55%
		+col("value")
			width: 22.5%
			+xmd
				width: 16.4%
			+sm
				width: 45%
	&__th
		padding-top: 8px
		padding-bottom: 8px
		+f(11px, null, 19px)
		letter-spacing: 0.150em
	&__td
		padding-top: 10px
		padding-bottom: 10px
		+sm
			padding-top: 7px
			padding-bottom: 7px
	&__img
		width: 80px
		height: 80px
		+vertical
		+sm
			width: 50px
			height: 50px
		&-in
			max-width: 100%
			max-height: 100%
			display: inline-block
			vertical-align: middle
	&__name-label,
	&__name-value,
	&__price,
	&__value
		+f(14px, null, 26px)
		letter-spacing: .01em
		+sm
			font-size: 13px
	&__name
		+sm
			padding-right: 32px
	&__name-value
		color: rgba($dark, .5)
	&__value
		+sm
			text-align: right
	&__icon
		fill: currentColor
	&__btn
		position: absolute
		right: 0
		top: 50%
		font-size: 15px
		color: #4a5d70
		background: none
		padding: 10px
		transform: translateY(-50%)
		+xmd
			padding-right: 0
		+sm
			font-size: 12px
			transform: translate(0)
			top: 8px
			padding-right: 10px



