.popular
	background-color: #efefef
	padding: 40px 0 20px
	+sm
		padding: 25px 0 5px
	&__title
		margin-bottom: 22px
	&__list
		font-size: 0
		margin: 0 -10px
	&__item
		display: inline-block
		vertical-align: top
		width: 33.33%
		padding: 0 10px
		margin-bottom: 20px
		+xmd
			width: 50%
		+xs
			width: 100%
	&__wrapper
		background-color: $white
		padding: 15px 30px
		display: flex
		align-items: center
		transition: box-shadow .24s
		+xmd
			padding: 10px 25px
		+sm
			padding: 10px 5px 10px 20px
			height: 112px
		+hover
			box-shadow: 0 0 18px rgba(0, 0, 1, 0.16)
	&__content
		flex-grow: 1
		padding-left: 30px
		+sm
			padding-left: 10px
	&__img
		height: 90px
		flex: 0 0 80px
		+vertical
		+sm
			flex: 0 0 55px
			height: 60px
		&-in
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100%
	&__label
		margin-bottom: 10px
		letter-spacing: .01em
		color: $dark
		+f(14px, null, 1.5)
	&__price
		+f(14px, 700, 1)
		letter-spacing: .01em
		color: $dark
