.popup
	position: fixed
	top: 0
	left: 0
	z-index: 100
	width: 100%
	height: 100%
	overflow: auto
	opacity: 0
	visibility: hidden
	background-color: rgba(#000, .5)
	+vertical
	transition: opacity 0.3s, visibility 0.3s
	+sm
		padding: 0 10px
	&.is-open
		opacity: 1
		visibility: visible
	&__inner
		position: relative
		margin: 35px auto
		padding: 34px 34px 29px 34px
		width: 100%
		max-width: 611px
		font-size: 14px
		vertical-align: middle
		display: inline-block
		background-color: $white
		+sm
			padding: 20px 10px
	&__reestablish
		padding: 64px 0
		+sm
			padding: 25px 0
	&__close
		position: absolute
		top: 0
		right: -29px
		font-size: 0
		background-color: transparent
		transition: color .3s
		color: rgba($white, .5)
		+sm
			top: 10px
			right: 10px
			color: $dark
		&:hover
			color: $white
			+sm
				color: $dark
		.icon
			font-size: 17px
	&__title
		margin-bottom: 15px
		font-family: $montserrat
		+f(21px,500,1.4)
		text-align: center
	&__description
		margin-bottom: 10px
		color: rgba(#0f2841, 0.5)
		font-family: $opensans
		font-size: 14px
		font-weight: 400

.popup-tabs
	&__list
		padding: 0 34px
		margin: 0 -34px
		font-size: 0
		text-align: center
		border-bottom: 1px solid $borderGray
		+sm
			margin: 0
			padding: 0
	&__item
		position: relative
		z-index: 1
		margin-bottom: -1px
		padding: 4px 38px 8px
		color: rgba($dark, 0.7)
		font-family: $opensans
		+f(14px,400,1.4)
		user-select: none
		vertical-align: top
		border-bottom: 3px solid transparent
		transition: border-color .3s, color .3s
		display: inline-block
		+sm
			width: 50%
			padding-left: 15px
			padding-right: 15px
		+hover
			color: $dark
		&.is-active
			color: $dark
			border-color: $blue
