.product-info
	padding: 40px 0 30px
	+xmd
		padding: 50px 0 0
	+sm
		padding-top: 20px
	&__title
		margin-bottom: 30px
		+xmd
			margin-bottom: 15px
	&__description
		p
			padding-right: 40px
			margin-bottom: 20px
			+f(14px, null, 1.857)
			letter-spacing: .01em
			+xmd
				padding-right: 0
				margin-bottom: 45px
			+sm
				font-size: 13px
				margin-bottom: 25px
	&__characteristics
		padding: 25px 0 40px
		+xs
			padding: 15px 0 10px
		.characteristics
			&__label
				width: 51%
			&__value
				width: 49%
	&__characteristics-list
		+xmd
			max-width: 590px
	&__grid
		border-bottom: 1px solid $borderGray
