.search
	&__form
		position: relative
	&__input
		display: block
		padding-left: 20px
		padding-right: 55px
		border: 2px solid $blue
		border-radius: 5px
		width: 100%
		height: 54px
		color: $dark
		background: $white
		font-family: $opensans
		+f(17px, 400, normal)
		letter-spacing: 0.01em
		&::placeholder
			color: $dark
			opacity: 0.5
	&__btn
		position: absolute
		top: 0
		right: 0
		bottom: 0
		padding-bottom: 2px
		width: 55px
		background: none
		+vertical
	&__icon 
		display: inline-block
		vertical-align: middle
		fill: #3aa0d1
		font-size: 21px