.tooltipster-sidetip
	padding-top: 28px
	.tooltipster-box
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.19)
		border: 0
		border-radius: 0
		background-color: #fff 
		&:before
			position: absolute
			content: "" 
			top: 50%
			margin-top: -5px
			width: 100px
			height: 10px
			z-index: -1
			border-radius: 10px
			box-shadow: 0 0 18px rgba(0,0,0,.69)
	.tooltipster-content
		opacity: 0.5
		color: #0f2841
		font-family: $familyOpensans
		font-size: 13px
		font-weight: 400
	.tooltipster-arrow-background
		display: none
	&.tooltipster-right 
		.tooltipster-box
			margin-left: 5px
			&:before
				left: 2px
		.tooltipster-arrow-uncropped
			left: 2px
		.tooltipster-arrow
			margin-top: 0
			left: -5px
			height: 10px
		.tooltipster-arrow-border
			z-index: 1
			+arr(8,8,$white,tr)
	&.tooltipster-left 
		.tooltipster-box
			margin-right: 5px
			&:before
				right: 4px
				margin-top: 0
		.tooltipster-arrow
			margin-top: 0
			right: -5px
			height: 10px
		.tooltipster-arrow-border
			z-index: 1
			+arr(8,8,$white,tl)
	&.tooltipster-top 
		padding-top: 0
		width: 170px
		text-align: center
		.tooltipster-box
			margin: 0
			box-shadow: 0 0 18px rgba(0, 0, 1, 0.16)
			&:before
				display: none
		.tooltipster-arrow-border
			display: none
		.tooltipster-content
			padding: 10px
			+f(11px, 400, 1.4)
			letter-spacing: -0.01em
.tooltipster-base
	width: 130px