.icon-airplane {
  width: 1.25em;
  height: 1em;
  fill: currentColor;
}
.icon-angle-down {
  width: 2.32em;
  height: 1em;
  fill: currentColor;
}
.icon-angle-up {
  width: 2.32em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-down {
  width: 1.71em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-left {
  width: 0.58em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.58em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow {
  width: 0.52em;
  height: 1em;
  fill: currentColor;
}
.icon-business {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-cart {
  width: 1.07em;
  height: 1em;
  fill: currentColor;
}
.icon-check-list {
  width: 1.02em;
  height: 1em;
  fill: currentColor;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-classmates {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-docs {
  width: 0.87em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.46em;
  height: 1em;
  fill: currentColor;
}
.icon-fb {
  width: 0.52em;
  height: 1em;
  fill: currentColor;
}
.icon-filter {
  width: 1.09em;
  height: 1em;
  fill: currentColor;
}
.icon-googleplus {
  width: 1.57em;
  height: 1em;
  fill: currentColor;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-minus {
  width: 23.12em;
  height: 1em;
  fill: currentColor;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-question-mark {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-question {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-sun {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1.67em;
  height: 1em;
  fill: currentColor;
}
