.icon-airplane {
  width: 1.25em;
  height: 1em;
  fill: #0CAAFE;
}
.icon-angle-up {
  width: 2.32em;
  height: 1em;
  fill: #0089FF;
}
.icon-business {
  width: 1em;
  height: 1em;
  fill: #0F2841;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: #0CAAFE;
}
.icon-cart {
  width: 1.07em;
  height: 1em;
  fill: #0F2841;
}
.icon-check-list {
  width: 1.02em;
  height: 1em;
  fill: #0CAAFE;
}
.icon-docs {
  width: 0.87em;
  height: 1em;
  fill: #CFCFCF;
}
.icon-facebook {
  width: 0.46em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: #0F2841;
}
.icon-question {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #0CAAFE;
}
.icon-sun {
  width: 1em;
  height: 1em;
  fill: #0CAAFE;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: #0F2841;
}
.icon-vk {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
