.icon-arrow {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.icon-business {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-minus {
  width: 23.12em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-question {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
